@use "../globals" as *;
@use '../parts/common' as *;

.map {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 75%;
  & > iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.access-map {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin: 1em 0;
  @include mq(lg) {
    // width: 80%;
    margin: 2em auto 0;
    padding: 3em;
    background-color: $cThemeTh;
  }
  &__route {
    padding: 1em;
    font-size: .9em;
    background-color: #fff;
    border: 2px dotted $cTheme;
    border-radius: 15px;
    @include mq(lg) {
      padding: 3em;
      font-size: 1em;
    }
  }
  &__from-station {
    position: relative;
    padding: .5rem 0;
    font-family: $fontGothic;
    font-size: 1.1em;
    font-weight: 900;
    text-align: center;
    color: #333;
    border-bottom: 3px solid #555;
    border-left: 3px solid #555;
    border-radius: 0 0 0 20px;
    @include mq(lg) {
      font-size: 1.4em;
    }
    &::before {
      position: absolute;
      right: 50px;
      bottom: -21px;
      width: 0;
      height: 0;
      content: '';
      border-width: 21px 21px 0 0;
      border-style: solid;
      border-color: #555 transparent transparent transparent;
    }
    &::after {
      position: absolute;
      right: 54px;
      bottom: -14px;
      width: 0;
      height: 0;
      content: '';
      border-width: 14px 14px 0 0;
      border-style: solid;
      border-color: #fff transparent transparent transparent;
    }
  }
  &__via-line {
    margin-top: .75em;
    font-family: $fontGothic;
    font-weight: 900;
    color: $cOrangeHd;
    @include mq(lg) {
      font-size: 1.2em;
    }
  }
  &__contents {
    &:not(:first-of-type) {
      margin-top: 1em;
    }
    & > dt {
      margin: .5em 0 .75em;
      padding-bottom: .15em;
      border-bottom: 1px dotted #333;
      @include mq(lg) {
        font-size: 1.2em;
      }
      &.margin-top-expand {
        margin: 1.25em 0 .75em;
      }
    }
  }
}

.access {
  & .arrow-link {
    text-align: right;
    padding-right: 1em;
  }
}

.access-map-wrapper {
  display: flex;
  gap: 1em;
  &__wide-area {
    flex-basis: 55%;
  }
  &__detailed-area {
    flex-basis: 45%;
  }
}