@use "../globals" as *;
@use '../parts/common' as *;

.faq {
  & .main__header3.proceed,
  & .main__header3.fee {
    margin-top: 2em;
  }
  &__question-bg {
    display: inline-block;
    position: relative;
    margin-bottom: 1.5em;
    padding: 10px 10px;
    line-height: 1.3;
    text-align: left;
    background-color: #fff;
    border: $cTheme solid 2px;
    &::before {
      display: block;
      position: absolute;
      bottom: -20px;
      left: 4em;
      transform: translateX(-24%);
      margin-left: -10px;
      content: '';
      border-width: 25px 0px 0px 25px;
      border-style: solid;
      border-color: #FFF transparent;
      z-index: 1;
    }
    &::after {
      display: block;
      position: absolute;
      bottom: -25px;
      left: 4em;
      margin-left: -14px;
      content: '';
      border-width: 25px 0px 0px 25px;
      border-style: solid;
      border-color: $cTheme transparent;
      z-index: 0;
    }
  }
  &__question {
    position: relative;
    padding-left: 1.75em;
    font-feature-settings: "palt" 1;
    &::before {
      position: absolute;
      top: -.25em;
      // transform: translateY(-50%);
      left: 0;
      content: "Q.";
      font-family: "Roboto", sans-serif;
      font-size: 1.5em;
      color: $cOrangeDk;
    }
  }
  &__answer {
    position: relative;
    margin-bottom: 2em;
    padding: 1em;
    background-color: rgba($color: $cOrangeLt, $alpha: .4);
    @include mq(lg) {
      padding: 2em 3em;
    }
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      border-width: 2px 0 0 2px;
      border-style: solid;
      border-color: $cTheme $cTheme;
      width: 50px;
      height: 50px;
    }
    &::after {
      position: absolute;
      bottom: 0;
      right: 0;
      content: "";
      border-width: 0 2px 2px 0;
      border-style: solid;
      border-color: $cTheme $cTheme;
      width: 50px;
      height: 50px;
    }
    & > p {
      @include mq(lg) {
        font-size: 1rem;
      }
    }
  }
  &__books {
    display: flex;
    gap: 1em;
    & > li {
      flex-basis: 0;
      flex-grow: 1;
      & > .image-wrapper {
        margin-bottom: unset;
      }
      &:last-of-type {
        display: flex;
        flex-direction: column;
        gap: 1em;
      }
    }
  }
  & .note {
    text-align: center;
  }
  &__menu {
    display: flex;
    gap: 3px;
    justify-content: space-between;
    margin-bottom: 2em;
    font-family: $fontGothic;
    font-size: .8em;
    font-weight: 900;
    @include mq(lg) {
      gap: 1em;
      padding-top: 0;
    }
    & > li {
      padding: .5em 1em;
      text-align: center;
      color: #fff;
      background-color: $cTheme;
      @include mq(lg) {
        width: 100%;
      }
    }
  }
  &__heading-soft-cover {
    margin: 2em 0 1.3em;
  }
}