@use '../globals/' as *;
@use '../parts/common' as *;

.main.feature {
  & .image-wrapper.ami {
    &.company-office-building {
      height: 300px;
      margin-bottom: 2em;
      @include mq(lg) {
        margin-bottom: 3em;
        height: 500px;
      }
    }
    &.profile-img {
      height: 200px;
      @include mq(lg) {
        height: 300px;
      }
    }
    &.self-pulished-books {
      @include mq(lg) {
        height: 350px;
      }
    }
  }
  & .main__description-list > dt {
    font-size: 1rem;
    @include mq(lg) {
      font-size: 1.1rem;
    }
  }
  & .main__description-list > dd {
    font-size: .8rem;
    @include mq(lg) {
      font-size: .9rem;
    }
  }
}


.staff {
  margin-top: 2em;
  &__title {
    padding: .3em 0;
    font-family: $fontGothic;
    font-size: 1.3em;
    line-height: 1;
    font-weight: 900;
    text-align: center;
    font-feature-settings: "palt" 1;
    color: #fff;
    background-color: $cOrangeDk;
  }
}

.profile {
  margin-bottom: 1.5em;
  &__person {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 1em;
    padding: 1em 0;
    font-family: $fontGothic;
    font-size: .9em;
    line-height: 1;
    font-weight: 500;
    border-bottom: 1px solid $cOrangeDk;
  }
  &__name {
    font-size: 1.2em;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &__other-info {
    margin-top: unset;
  }
}