@use '../globals/' as *;
@use '../parts/common' as *;

.main {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 90%;
  max-width: $contentMaxWidth;
  margin: 0 auto;
  padding: 2em 0 0;
  line-height: 1.5;
  z-index: 2;
  @include mq(lg) {
    padding: 2em 0 0;
  }
  &__contents-aside-wrapper {
    @include mq(lg) {
      display: flex;
      gap: 2em;
    }
  }
  &__contents-wrapper {
    flex-basis: calc((100% - 2em) / 1);
    @include mq(lg) {
      padding-bottom: 2rem;
    }
  }
  &.front-page {
    & .main__contents-wrapper {
      @include mq(lg) {
        padding-bottom: 2.5rem;
      }

    }
  }
  &__other-info {
    padding: 1em;
    background-color: #eee;
    @include mq(lg) {
      width: 450px;
    }
  }
  &__inner:not(:first-of-type) {
    margin-top: 2em;
    @include mq(lg) {
      margin-top: 3em;
    }
  }
  &__header3 {
    position: relative;
    margin-bottom: 1rem;
    padding-left: .5em;
    font-size: 1.4em;
    line-height: 1.3;
    font-weight: 900;
    font-feature-settings: "palt" 1;
    &:not(:first-of-type) {
      margin: 2rem 0 1rem;
    }
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      width: 5px;
      min-height: 1.3em;
      background-color: $cTheme;
    }
    &.two-lines-height::before {
      min-height: 2.5em;
    }
  }
  &__header4 {
    margin-top: 1em;
    padding: 5px 10px;
    font-family: $fontGothic;
    font-size: 1.1em;
    font-weight: 900;
    line-height: 1;
    font-feature-settings: "palt" 1;
    color: #fff;
    background-color: $cOrangeDk;
    border-radius: 3px;
  }
  &__header5 {
    margin: 1em 0 1.3em;
    padding: 5px 10px;
    font-family: $fontGothic;
    font-size: .9em;
    font-weight: 900;
    line-height: 1;
    font-feature-settings: "palt" 1;
    text-align: center;
    color: $cTheme;
    border-bottom: 2px solid $cThemeMd;
    @include mq(lg) {
      font-size: 1.15em;
    }
  }
  &__header6 {
    margin: 1em 0 0;
    font-family: $fontGothic;
    font-size: 1.05em;
    font-weight: 900;
    text-align: center;
    color: $cTheme;
    font-feature-settings: "palt" 1;
  }
  & section {
    &:not(:first-of-type) {
      margin-top: 2em;
    }
  }
  & p {
    margin-top: .75em;
    font-size: .9rem;
    line-height: 1.7;
    @include mq(lg) {
      font-size: 1rem;
    }
  }
  // & p:not(:first-of-type) {
  // }
  & .catch {
    margin-top: .75em;
    font-size: 1.2em;
    font-weight: 900;
    color: $cTheme;
  }
  &__list,
  &__order-list {
    margin-top:.7em;
    & > li {
      position: relative;
      padding-left: 1em;
      font-family: $fontGothic;
      font-size: 15px;
      line-height: 1.2;
      color: $cTheme;
      &::before {
        position: absolute;
        top: 3.5px;
        left: 0;
        content: "";
        width: .8em;
        height: .8em;
        border-radius: 50%;
        background-color: $cTheme;
      }
    }
    & > li:not(:first-of-type) {
      margin-top: .5em;
    }
    &.for-only-links {
      display: flex;
      justify-content: center;
      gap: 10px;
      width: 100%;
      margin-top: 15px;
      & > li {
        display: grid;
        place-content: center;
        position: unset;
        width: 100%;
        height: 2.2em;
        padding-left: 0;
        font-size: .9em;
        font-weight: 900;
        line-height: 1;
        &::before {
          position: absolute;
          width: 0;
        }
        &:not(:first-of-type) {
          margin-top: 0;
        }
      }
    }  
  }
  & .for-only-links {
    &__soft-cover, 
    &__hard-cover {
      padding: 2em 0;
      color: #fff;
      border-radius: 10px;
    }
    &__soft-cover {
      background-color: $cOrangeHd;
    }
    &__hard-cover {
      background-color: $cTheme;
    }
  }
  &__order-list {
    padding-left: 1em;
    list-style: decimal;
    & > li {
      padding-left: 0;
      &::before {
        position: unset;
      }
    }
  }
  &__list.remove-mark {
    & > li {
      padding-left: 0;
      & > .title {
        margin-bottom: .25em;
        font-weight: 900;
      }
      & > .content {
        padding-left: 1em;
      }
    }
    & > li::before {
      position: unset;
    }
  }
  &__description-list {
    padding: 1em;
    font-family: $fontGothic;
    font-size: .8em;
    background-color: $cOrangeLt;
    & > dt {
      margin-bottom: .5em;
      font-size: 1.1em;
      text-align: center;
      font-feature-settings: "palt" 1;
      color: $cTheme;
    }
    & > dd {
      text-align: justify;
      line-height: 1.5;
      color: #333;
    }
  }
  & .self-publish-info {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
  & .featured-articles {
    display: flex;
    flex-direction: column;
    gap: 1em;
    &__top-three {
      display: flex;
      flex-direction: column;
      gap: 1em;
      @include mq(lg) {
        flex-direction: row;
      }
    }
    &__item {
      box-shadow: 3px 3px 3px #999;
      &.for-msword {
        background-color: #e7c586;
      }
    }
    & .main__header3 {
      margin-bottom: unset;
    }
    & .image-wrapper {
      height: 100%;
      margin-bottom: unset;
    }
    & a {
      & > .image-wrapper.welcome-msword-banner {
        // width: 90%;
        margin-bottom: unset;
        margin: 0 auto;
        & > img {
          width: 100%;
        }
      }
    }

  }
}

.latest-books {
  & .book-post {
    margin: 1em 0;
    &__list {
      flex-basis: calc((100% - 1em) / 2);
      @include mq(lg) {
        flex-basis: calc((100% - 3em) / 3);
      }
    }
  }
  & .to-index {
    @include mq(lg) {
      width: fit-content;
      padding: 3px 1em 7px;
      // margin: 0 auto;
    }
  }
  & .selected-label.buy > a {
    @include mq(lg) {
      width: fit-content;
      padding: 3px 1em 7px 2.5em;
      margin: 0 auto;
    }
  }
}

.top-page {
  &__main-visual {
    background-color: $cTheme;
    @include bg($image: "./images/slide-bg-pile-books-bookstore.jpg");
  }
  &__slide-contents-wrapper {
    width: 100%;
    @include mq(lg) {
      width: 90%;
      max-width: $contentMaxWidth;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
    }
  }
  &__main-copy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1rem;
    font-weight: 900;
    color: #fff;
    font-feature-settings: "palt" 1;
    & > .line {
      margin-bottom: 10px;
      &.one {
        font-size: 1.3em;
        @include mq(xl) {
          font-size: 1.6em;
        }
      }
    }
    & > .line {
      margin-bottom: 10px;
      &.one {
        font-size: 1.3em;
        @include mq(xl) {
          font-size: 1.6em;
        }
      }
      &.two {
        position: relative;
        width: fit-content;
        font-size: 1.8em;
        & > .shoulder {
          position: absolute;
          top: 50%;
          transform: translateY(-55%);
          left: calc(100% + .5em);
          width: max-content;
          font-size: .7rem;
          line-height: 1.3;
        }
        @include mq(xl) {
          font-size: 2em;
          & > .shoulder {
            left: calc(100% + .75em);
            font-size: .8rem;
          }
        }
      }
      &.three {
        font-size: 1.75em;
        color: $cOrangeDk;
        & > span {
          font-size: 1.85em;
        }
        @include mq(xl) {
          font-size: 2.2em;
          color: $cOrangeDk;
          & > span {
            font-size: 1.75em;
          }
        }
      }
      &.four {
        margin-bottom: unset;
        font-size: .75em;
        line-height: 1.4;
        & > span {
          font-size: 1.4em;
        }
        @include mq(xl) {
          font-size: .9em;
          line-height: 1.5;
          & > span {
            font-size: 1.55em;
          }
        }
      }
    }

  }  
  &__slide {
    @include mq(lg) {
      width: 65%;
    }
    & .image-wrapper {
      margin-bottom: unset;
    }
  }
}