@use '../globals/' as *;
@use '../parts/common' as *;

.process {
  & .equipment {
    @include mq(lg) {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      margin: 0 auto;
      & .image-wrapper {
        flex-basis: calc((100% - 1em) / 2);
      }
    }
  }
  & .image-wrapper.ami,
  & .flex-wrapper.ami {
    &.process {
      height: 250px;
    }
    &.books {
      margin-bottom: unset;
      height: 300px;
    }
  }
}
