@use '../globals/' as *;

html {
  scroll-behavior: smooth;
}

body {
  // ページのheaderにリンクを貼って、CSSでフォントファミリーを指定する。
  // フォント・スタックで記述すること。
  // 英語の書体なら『Kameron』にマッチ、日本語の書体は、2番目の『Noto Sans JP』にマッチする。
  // 順に探していく仕様。
  font-family: "Noto Sans JP", sans-serif;
  font-size: 93.375%; //15px
  line-height: 1.5;
  color: #333;
}

// !!!!! WEBフォントの指定で2年前から変わったところがあるよう。!!!!!
// 講義のような項目はなかった。
// google fontsに『フォント名: CSS class for a variable style』という項目あり、
// 以下のように設定してもいちいちクラスをつけるのは面倒でできない。
// 何か意味があると思うのでここに記しておく。
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 900

.noto-serif-jp {
  font-family: "Noto Serif JP", serif;
  font-optical-sizing: auto;
  font-style: normal;
  &__md {
    font-weight: 600;
  }
}

.noto-sans-jp {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  &__md {
    font-weight: 500;
  }
}

h1, h2, h3, h4, h5 {
  font-feature-settings: "palt" 1;
}

img {
  // reset.cssで設定されているからトル
  // max-width: 100%;
  vertical-align: bottom;
}

ul {
  padding: 0;
  li {
    list-style-type: none;
  }
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

// margin, padding
.mb-sm {
  margin-bottom: 16px !important;
}

.mb-md {
  margin-bottom: 30px !important;
}

.mb-lg {
  margin-bottom: 80px !important;
  @include mq(lg) {
    margin-bottom: 150px !important;
  }
}

.pb-sm {
  padding-bottom: 16px !important;
}

.pb-lg {
  padding-bottom: 80px !important;
  @include mq(lg) {
    padding-bottom: 150px !important;
  }
}

.margin-top-1dot5em {
  margin-top: 1.5em;
}
.margin-top-1em {
  margin-top: 1em;
}
.margin-top-dot75em {
  margin-top: .75em;
}
.margin-top-dot5em {
  margin-top: .5em;
}

.margin-bottom-1dot5em {
  margin-bottom: 1.5em;
}
.margin-bottom-1em {
  margin-bottom: 1em;
}
.margin-bottom-dot75em {
  margin-bottom: .75em;
}
.margin-bottom-dot5em {
  margin-bottom: .5em;
}

.content-width {
  width: 90%;
  margin: 0 auto;
  max-width: $contentMaxWidth;
}

#main-content {
  position: relative;
  z-index: 0;
}

// font
.font-sm {
  font-size: 12px;
  @include mq(lg) {
    font-size: 14px;
  }
}
.font-md {
  font-size: 18px;
  @include mq(lg) {
    font-size: 20px;
  }
}
.font-lr {
  font-size: 18px;
  @include mq(lg) {
    font-size: 24px;
  }
}
.font-lg {
  font-size: 21px;
  @include mq(lg) {
    font-size: 30px;
  }
}

.letter-space-dot25em {
  letter-spacing: .25em
}

.global-menu {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  gap: 1em;
  padding: .75em 0;
  background-color: #fff;
  box-shadow: 0px 3px 5px #ddd;
  z-index: 100;
  @include mq(lg) {
    gap: 2em;
    padding: 1em 0;
  }
} 

.search {
  position: relative;
  width: 300px;
  height: 30px;
  margin-left: auto;
  font-family: $fontGothic;
  font-size: 13px;
  font-weight: 500;
  border: 2px solid $cTheme;
  border-radius: 5px;
  &__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 1em;
  }
  &__submit-btn {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    padding: 0 10px;
    color: #fff;
    background-color: $cTheme;
    border-radius: 0 2px 2px 0;
  }
}

.subscript {
  position: relative;
  & > span {
    position: absolute;
    bottom: -7px;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
    font-size: 7px;
    color: #333;
  }
}

.image-wrapper {
  // height: 150px;
  margin-bottom: .8em;
  & > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  & > figcaption {
    text-align: center;
    font-family: $fontGothic;
    font-size: .8rem;
  }
}

.image-wrapper.ami,
.flex-wrapper.ami {
  position: relative;
  &::after {
    position: absolute;
    content: "";
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $cThemeTh;
    width: 100%;
    height: 70%;
    z-index: -1;
  }
  & > img {
    object-fit: contain;
  }     
}

.mq-sm-apear {
  display: inline-block;
  @include mq(lg) {
    display: none;
  }
}
.mq-lg-apear {
  display: none;
  @include mq(lg) {
    display: inline-block;
  }
}

.modal {
  @extend .content-width;
  &__inner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 80px 0 40px;
    background-color: rgba($color: $cBlackDeep, $alpha: .9);
    overflow-y: scroll;
    transform: translateX(-100%);
    transition: .5s;
    opacity: 0;
    z-index: 100;
    @include mq(md) {
      padding: 90px 0 60px;
    }
    @include mq(lg) {
      padding: 100px 0;
    }
    &.active {
      transform: translateX(0);
      opacity: 1;
    }
  }
  &__window {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    flex-wrap: nowrap;    
  }
  &__image {
    flex-shrink: 0;
    width: 90%;
    aspect-ratio: 4/3;
    overflow: hidden;
    @include mq(lg) {
      width: 900px;
    }
    &.port {
      width: 75%;
      aspect-ratio: 3/4;
      @include mq(lg) {
        width: 650px;
      }
    }
    & img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &__toggle-btn {
    position: fixed;
    top: 15px;
    right: 15px;
    margin: 0;
    padding: 10px 15px;
    color: $cWhite;
    background-color: $cTheme;
    border-radius: 5px;
    transition: .5s;
    transform: translateX(400%);
    visibility: hidden;
    opacity: 0;
    z-index: 101;
    @include mq(md) {
      top: 20px;
      right: 20px;
    }
    @include mq(lg) {
      top: 20px;
      right: 30px;
    }
    &.active {
      transform: translateX(0);
      visibility: visible;
      opacity: 1;
    }
  }
}